<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mysql.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
    </resultMap>
    <!-- id sql语句唯一名    parameterType 传入sql语句的参数类型-->
    <insert id="addUserInfo" parameterType="com.example.demo.entity.User">
        INSERT INTO `user` VALUES (#{id},#{username}, #{password}, #{phone})
    </insert>

    <!--  插入数据  -->
    <insert id="addUser" parameterType="com.example.demo.entity.User">
        INSERT INTO `user` VALUES (#{id},#{username}, #{password}, #{phone})
    </insert>
    <!--  根据账号查询  -->
    <select id="queryByUsername" resultType="com.example.demo.entity.User">
        SELECT * FROM `user` WHERE username = #{username}
    </select>
    <!--  根据id删除  -->
    <delete id="deleteUser">
        DELETE FROM `user` WHERE id = #{id}
    </delete>
    <!--  查询所有用户  -->
    <select id="queryUser" resultMap="BaseResultMap">
        SELECT * FROM `user`
    </select >

    <!--  修改指定用户信息  -->
    <update id="updateUser"  parameterType="com.example.demo.entity.User">
        UPDATE `user`
        <trim prefix="SET" suffixOverrides=",">
            <if test="null != user.username and '' != user.username">
                username = #{user.username},
            </if>
            <if test="null != user.password and '' != user.password">
                password = #{user.password},
            </if>
        </trim>
        WHERE id = #{user.id}
    </update>

    <!--  分页查询用户信息,并通过账号模糊查询  -->
    <select id="getUserPageList" resultMap="BaseResultMap">
        select * from `user` WHERE username LIKE CONCAT('%',#{username,jdbcType=VARCHAR},'%')
    </select>

</mapper>

